<!DOCTYPE html>
<html>
 	<head>
    	<title>Health4All Auction Site</title>
    	<%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    	<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
    	<%= csrf_meta_tags %>
    	<!--[if lt IE 9]>
      		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      		</script>
    	<![endif]-->
  	</head>
  	<body style="background-image:url('/BACKGROUND.png')">
  							<br/>
							<br/><br/>
							<br/><div style="text-align: center">
				<div style="display:inline-block;">
							
  		<a href="/review?view_style=line"><button type="button" class="btn btn-default">
								  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
								</button></a>
								<span>                    </span>
								<a href="/review?view_style=block"><button type="button" class="btn btn-default" aria-label="Left Align">
								  <span class="glyphicon glyphicon-th-large " aria-hidden="true"></span>
								</button></a>

							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review Submission Panel</span>
				</div></div>
<br/>
							<br/>
		
	<% if @admin %>

			<% if @style == "block" %>
			<div class="center-box block-view" style="text-align: center;">
		     	 <% @artworks.each_slice(2) do |artwork1, artwork2| %> 

				  <div style="display: inline-block;">
				  			<div>
		       	 			<img src="<%= artwork1.attachment_url %>" class ="displayedreview" />
		       	 			</div>
		       	 			<br/>
		       	 			<div>
		            		<%= form_tag("/review/#{artwork1.id}", method: "put") do %>
							  <%= label_tag(:startingprice, "Starting Price") %>
							  <%= text_field_tag(:startingprice) %>
							  <%= label_tag(:autowinprice, "Autowin Price") %>
							  <%= text_field_tag(:autowinprice) %>
							  <%= submit_tag "Accept", class: "btn btn-success padded_button bid-btn"%>
							  <%= submit_tag "Reject", class: "btn btn-danger padded_button bid-btn"%>
							<% end %>
						</div>
		            	
						<% if artwork2 != nil %>

								<img src="<%= artwork2.attachment_url %>" class ="displayedreview" />
			            		<%= form_tag("/review/#{artwork2.id}", method: "put") do %>
								  <%= label_tag(:startingprice, "Starting Price") %>
								  <%= text_field_tag(:startingprice) %>
								  <%= label_tag(:autowinprice, "Autowin Price") %>
								  <%= text_field_tag(:autowinprice) %>
								  <%= submit_tag "Accept", class: "btn btn-success padded_button bid-btn"%>
								  <%= submit_tag "Reject", class: "btn btn-danger padded_button bid-btn"%>
								<% end %>

						<%end%>
		            </div>
		         
		         <% end %>

		     </div>
		    <% else %>
				<% @artworks.each do |artwork| %> 
				  <div class="div_box line-view">
					
						<div>
		       	 			<img src="<%= artwork.attachment_url %>" class ="displayedreview" />
		       	 			</div>
		       	 			<br/>
		       	 			<div>
		            		<%= form_tag("/review/#{artwork.id}", method: "put") do %>
							  <%= label_tag(:startingprice, "Starting Price") %>
							  <%= text_field_tag(:startingprice) %>
							  <%= label_tag(:autowinprice, "Autowin Price") %>
							  <%= text_field_tag(:autowinprice) %>
							  <%= submit_tag "Accept", class: "btn btn-success padded_button bid-btn"%>
							  <%= submit_tag "Reject", class: "btn btn-danger padded_button bid-btn"%>
							<% end %>
						</div>
				  </div>
				  <br/><br/>
				<% end %>
		    <% end %>

	
		
			
	<% else %>
		You are not authorized to view this page.
	<% end %>

  	</body>

 </html>
