<!DOCTYPE html>
<html>
   <head>
      <title>Health4All Auction Site</title>
      <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
      <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
            </script>
      <![endif]-->
   </head>
   <body onload="startTime()">
      <h1><%= @artwork.name%></h1>
      <div>
         <br/>
         <input type="hidden" id="opentime" value=<%=@opentime%>>
         <input type="hidden" id="endtime" value=<%=@expiretime%>>
         
          <h2>Remaining time:</h1>
          <h1 type = "hidden" id="item_clock">00:00:00</h1>
       
        </div>

   <table class="table table-vcenter">
   
       <tbody>  

               <tr>
                  <td rowspan ="4"><img src="<%= @artwork.attachment_url %>" id="displayed" /></td>
               <td colspan="2">
               <div class="btn-toolbar bidview-homepage-button" role="group" aria-label="...">
                  <!-- <%= link_to "+ $5", "#", id: 'denomination5', class: "btn btn-success padded_button" %> -->
                  <!-- <%= link_to "+ $10", "#", id: 'denomination10', class: "btn btn-success padded_button" %> -->
                  <!-- <%= link_to "+ $20", "#", id: 'denomination20', class: "btn btn-success padded_button" %> -->
                  <!-- <%= link_to "+ $50", "#", id: 'denomination50', class: "btn btn-success padded_button" %> -->

                  <button type="button" id="denomination5" class="btn btn-success padded_button" 


                  onclick="var input = parseFloat(document.getElementById('amount_id').value) || 0;
                  if (input == 0)
                     document.getElementById('amount_id').value = 5
                  else
                     document.getElementById('amount_id').value = input + 5"> 

                     +$5
                  </button>

                  <button type="button" id="denomination10" class="btn btn-success padded_button" 


                  onclick="var input = parseFloat(document.getElementById('amount_id').value) || 0; 
                  if (input == 0)
                     document.getElementById('amount_id').value = 10
                  else
                     document.getElementById('amount_id').value = input + 10"> 

                     +$10
                  </button>

                  <button type="button" id="denomination20" class="btn btn-success padded_button" 


                  onclick="var input = parseFloat(document.getElementById('amount_id').value) || 0; 
                  if (input == 0)
                     document.getElementById('amount_id').value = 20
                  else
                     document.getElementById('amount_id').value = input + 20"> 

                     +$20
                  </button>

                  <button type="button" id="denomination50" class="btn btn-success padded_button" 


                  onclick="var input = parseFloat(document.getElementById('amount_id').value) || 0; 
                  if (input == 0)
                     document.getElementById('amount_id').value = 50
                  else
                     document.getElementById('amount_id').value = input + 50"> 

                     +$50
                  </button>

                    <button type="button" id="reset" class="btn btn-success padded_button" onclick="document.getElementById('amount_id').value = ''">Reset</button>
                  
                 
               </div>
               </td>
            </tr>
            <tr>
               <td>
                     <label for='current_bid'>Current Bid</label>
                     <label id='current_bid' type='text'>$<%= '%.2f' % @artwork.max_bid%> by 
                        <% if @anyone %>
                          <% if @anon %>
                            Anonymous
                          <% else %>
                            <%= @leadbidder.name %>
                          <% end %>
                        <% else %>
                          N/A
                        <% end %>

                     </label>
               </td>
               <td class='bid-input'>
                  <!-- <label for='bid_amount'>Your bid</label> -->
                  <!-- <input id='bid_amount' type='text' class='bid-amount'></input> -->
                  <!-- <input name='commit' type='submit' value='Create Bid' class='btn btn-info padded_button bid-btn'/> -->

                  <%= form_for ([@artwork, @artwork.bids.build]) do |f| %>
                     <p>
                        <%= f.label :Your_Bid %><br>
                        <%= f.text_field :amount, id: 'amount_id' %>
                     </p>

                     <p>
                        <%= f.submit data: { confirm: 'Are you sure you want to place the bid?' }, class: "btn btn-info padded_button bid-btn"%>
                     </p>
                  <% end %>

                  <!-- <%= button_to "Create Bid", [@artwork, @artwork.bids.build], name: "commit", class: "btn btn-info padded_button bid-btn"%> -->
               </td>
            </tr>
            <tr>
               <td style='text-align:center;'>OR</td>
            </tr>
            <tr>
               <td>
                  <label for='buy_out_price'>Buy it now price</label>
                  <label id='buy_out_price' type='text'>$<%= '%.2f' % @artwork.autowinprice%></lable>

               </td>
               <td>
                  <%= link_to "Buy It Now", "#", id: 'buy_now_btn', class: 'btn btn-info padded_button bid-btn' %>
               </td>
            </tr>
         


      </tbody>
   </table>
     
   <div>
      <label for='details'>Details</label>
      <%= text_area(:artwork, :description, size: "10x5", disabled: 'disabled', id: 'details')%>
   </div>
   <div class="sort_buttons">
      <br/>
      <br/>
      <%= link_to "Back To Home page", "/users/#{@user.id}", id: 'home_btn', class: "btn btn-primary" %>
      <br/>
      <br/>
   </div>
      
   <% if @active %>
       
   <% else %>
   <% end %>

   </body>

   <script>

       var end = new Date(parseInt(document.getElementById('endtime').value));
       var open = new Date(parseInt(document.getElementById('opentime').value));

       var _second = 1000;
       var _minute = _second * 60;
       var _hour = _minute * 60;
       var _day = _hour * 24;
       var timer;

       function showRemaining() {
           var now = new Date();
           var distance = end - now;
           var fromStart = open - now;
           if (fromStart > 0) {
              clearInterval(timer);

              document.getElementById('item_clock').innerHTML = 'This item will open for bidding at ' + open.getHours() + ':' + open.getMinutes() + ' on ' +open.getMonth() + '/' + open.getDay() + '/'+open.getYear();
              return;
           }
           if (distance < 0) {

               clearInterval(timer);
               document.getElementById('item_clock').innerHTML = 'This item is no longer available for bidding!';

               return;
           }
           var days = Math.floor(distance / _day);
           var hours = Math.floor((distance % _day) / _hour);
           var minutes = Math.floor((distance % _hour) / _minute);
           var seconds = Math.floor((distance % _minute) / _second);
           if (days < 10) days = '0' + days;
           if (hours < 10) hours = '0' + hours;
           if (minutes < 10) minutes = '0' + minutes;
           if (seconds < 10) seconds = '0' + seconds;

           document.getElementById('item_clock').innerHTML = days + ':';
           document.getElementById('item_clock').innerHTML += hours + ':';
           document.getElementById('item_clock').innerHTML += minutes + ':';
           document.getElementById('item_clock').innerHTML += seconds;
       }

       timer = setInterval(showRemaining, 1000);
   </script>

 </html>
