<!DOCTYPE html>
<html>
 	<head>
    	<title>Health4All Auction Site</title>
    	<%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    	<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
    	<%= csrf_meta_tags %>
    	<!--[if lt IE 9]>
      		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      		</script>
    	<![endif]-->
  	</head>
  	<body onload="startTime()">
<% if @active %>
		<h1>Hello, <%= @user.name %>!</h1>

		
	     	<% if !flash[:notice].blank? %>
			   <div class = "alert alert-info">
			      <%= flash[:notice] %>
			   </div>
			<% end %>

			<br/>

			<% if @user.admin %>
				<%= link_to "Review Submitted Artwork", url_for(:controller => :review, :action => :index), id: 'approve_artwork', class: "submit_but btn btn-success" %>
				<br />
			<% end %>

			

		  <div>
		  	<br/>
		  	<h1 id="countdown">00:00:00</h1>
		  </div>

		  <% if @style == "line" %>
			  <div class="table-responsive line-view">
	  			<table class="table table-vcenter">
	    			
			      	<thead>  
			      		<th>
			      			<%= link_to("/users/#{@user.id}?view_style=line") do %>
				      			<button type="button" class="btn btn-default">
								  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
								</button>
								<%end%>
								<span>                    </span>
								<%= link_to("/users/#{@user.id}?view_style=block") do %>
								  <button type="button" class="btn btn-default" aria-label="Left Align">
								  <span class="glyphicon glyphicon-th-large " aria-hidden="true"></span>
								</button> 
								<% end %>
							
						</th>
			      		<th><div id="right-align">Sort by: <div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="sort_by_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Dropdown
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="sort_by_dropdown">
							    <li><a href="/users/<%=@user.id%>?view_style=line&sort_by=lowest">Lowest Bid</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=line&sort_by=highest">Highest Bid</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=line&sort_by=highestBN">Highest Buy Now</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=line&sort_by=lowestBN">Lowest Buy Now</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=line&sort_by=recent">Most Recent</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="/users/<%=@user.id%>?view_style=line&sort_by=id">Default Sort</a></li>
							  </ul>
							</div>
						</div>
						</th>
			      	</thead>
				    <tbody>  

				     	 <% @artworksall.each do |artwork| %> 
				          <tr>
				            <td><img src="<%= artwork.attachment_url %>" id="displayed" /></td>
				            <td>
				            	<div class="btn-toolbar bidview-homepage-button" role="group" aria-label="...">
				            		 <span style="height: 34px;"class="label label-primary padded_button_block">Current bid: $<%= '%.2f' % artwork.max_bid%></span>
				                <%= link_to "More Details", "/artworks/#{artwork.id}", id: 'upload_button1', class: "btn btn-info padded_button" %>
				                
				                <%= link_to "Watch Item", watch_path(:id => artwork.id), id: 'upload_button3', class: "btn btn-success padded_button" %></td>
				            </div>
				          </tr>
				         
				      	<% end %>

				   </tbody>
	  			</table>

	  			<div class="sort_buttons">
	  				<br/>
	  				<br/>
	  				<p style="font-famiy: 'Courier New', 'Times New Roman'; text-align: center;">Interested in directly helping Health4All?</p>
	  				<%= link_to "Submit your own Artwork", url_for(:controller => :artworks, :action => :new), id: 'upload_button1', class: "btn btn-primary" %><span> </span>
				    <%= link_to "Donate to Health4All", "http://hlth4all.org/Donors", id: 'donate_button', class: "btn btn-primary" %>
	  			</div>
			  </div>
			  <br/> <br/> <br/>
			<% else %>
					
			      			<div class="sort_buttons"><div class="sort_buttons">
				      			<%= link_to("/users/#{@user.id}?view_style=line") do %>
				      			<button type="button" class="btn btn-default">
								  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
								</button>
								<%end%>
								<span>                    </span>
								<%= link_to("/users/#{@user.id}?view_style=block") do %>
								  <button type="button" class="btn btn-default" aria-label="Left Align">
								  <span class="glyphicon glyphicon-th-large " aria-hidden="true"></span>
								</button> 
								<% end %></div>
							<div style="text-align: center;">Sort by: </div><div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="sort_by_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Dropdown
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="sort_by_dropdown">
							    <li><a href="/users/<%=@user.id%>?view_style=block&sort_by=lowest">Lowest Bid</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=block&sort_by=highest">Highest Bid</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=block&sort_by=highestBN">Highest Buy Now</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=block&sort_by=lowestBN">Lowest Buy Now</a></li>
							    <li><a href="/users/<%=@user.id%>?view_style=block&sort_by=recent">Most Recent</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="/users/<%=@user.id%>?view_style=block&sort_by=id">Default Sort</a></li>
							  </ul>
							</div>

							</div>
							<br/>



				     	 	
							<div style="text-align: center;">
						    <% @artworksall.each_slice(2) do |artwork1, artwork2| %> 
						    	<div class="row row-container">
						    		<div class ="col-md-6">
							      		<img src="<%= artwork1.attachment_url %>" id="displayed"/><br/>
							            <div class="sort_buttons">
							            	<div class="btn-toolbar" role="group" aria-label="...">
							            		 <span style="height: 34px;"class="label label-primary padded_button_block">Current bid: $<%= '%.2f' % artwork1.max_bid%></span>
												<%= link_to "More Details", "/artworks/#{artwork1.id}", id: 'upload_button1', class: "btn btn-info padded_button_block" %>
							            		<span></span>
							            		<%= link_to "Watch Item", watch_path(:id => artwork1.id), id: 'upload_button3', class: "btn btn-success padded_button_block" %>
							        		</div>
							    		</div>
				          			</div>
									<% if artwork2 != nil %>
									<div class="col-md-6">
									     		<img src="<%= artwork2.attachment_url %>" id="displayed"/><br/>
									            	<div class="sort_buttons">
									            <div class="btn-toolbar" role="group" aria-label="...">
									            <span style="height: 34px;"class="label label-primary padded_button_block">Current bid: $<%= '%.2f' % artwork2.max_bid%></span>
												<%= link_to "More Details", "/artworks/#{artwork2.id}", id: 'upload_button1', class: "btn btn-info padded_button_block" %>
									           
									            <span></span>
									            <%= link_to "Watch Item", watch_path(:id => artwork2.id), id: 'upload_button3', class: "btn btn-success padded_button_block" %>
									        </div></div>
								    </div>    
								    <% end %>
								</div>
				      		<% end %>	

				  			</div>
				  			


	  			
			  </div>

			  <div class="sort_buttons">
	  				<br/>
	  				<br/>
	  				<p style="font-famiy: 'Courier New', 'Times New Roman'; text-align: center;">Interested in directly helping Health4All?</p>
	  				<%= link_to "Submit your own Artwork", url_for(:controller => :artworks, :action => :new), id: 'upload_button1', class: "btn btn-primary" %><span> </span>
				    <%= link_to "Donate to Health4All", "http://hlth4all.org/Donors", id: 'donate_button', class: "btn btn-primary" %>

	  			</div>

			<% end %>

			
			<br />
			<br />

			<br/>
			<h3> Submitted art:</h3>

			<table class = "table table-bordered table-striped">
			   <thead>.
			      <tr>
			         <th>Name</th>
			         <th>Download Link</th>
			         <th>Description</th>
			         <th> </th>
			      </tr>
			   </thead>
			   
			   <tbody>
			      <% @artworks.each do |artwork| %>
			         
			         <tr>
			            <td><%= artwork.name %></td>
			            <td><%= link_to "Download Artwork", artwork.attachment_url %></td>
			            <td><%= artwork.description %></td>
			            <td><%= button_to "Delete #{artwork.name}",  artwork, method: :delete, id: "delete_#{artwork.name}", class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{artwork.name}?" %></td>
			         </tr>
			         
			      <% end %>
			   </tbody>
			   
			</table>



			<br/><br/><br/>
	  	<% else %>
	      You must be logged in to view this page.
	  	<% end %>    

  	</body>

  	<script>
  		function startTime() {
		    var today = new Date();
		    var hours = today.getHours();
		    var m = today.getMinutes();
		    var s = today.getSeconds();
		    var ampm;
		    if (hours > 12) {
			    hours -= 12;
			    ampm = " PM";
			} else if (hours === 0) {
			   hours = 12;
			    ampm =" AM";
			}
		    m = checkTime(m);
		    s = checkTime(s);
		    document.getElementById('countdown').innerHTML =
		    hours + ":" + m + ":" + s + " " + ampm;
		    var t = setTimeout(startTime, 500);
		}
		function checkTime(i) {
		    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
		    return i;
		}
	</script>

 </html>
