<% if logged_in? %>

<br/>
<br/>
	
	<hr>
	<br/>
	<div style="text-align: center;">
		<table class="table table-condensed table-nonfluid center-table">
			<thead>
			      <tr style="background-color: grey;">
			         <th></th>
			         <th></th>
			      </tr>
			      <tr>
			         <th></th>
			         <th></th>
			      </tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td>Phone Number</td>
					<td><%= @user.phone%></td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><%= @user.email%></td>
				</tr>
				<tr>
					<td>Anonymous Mode*</td>
					<% if @user.anon %>
						<td>Yes</td>
					<% else %>
						<td>No</td>
					<%end%>
				</tr>
				<tr>
					<td>Admin</td>
					<% if @user.admin %>
					<td>Yes</td>
					<% else %>
					<td>No</td>
					<%end%>
				</tr>
				<tr>
					<td>Account created</td>
					<td><%= @user.created_at %></td>
				</tr>

				<tr><td></td><td></td></tr>
				<tr><td></td><td></td></tr>
				<tr><td></td><td></td></tr>
				<tr><td style="font-weight: bold">Options</td><td></td></tr>
				<tr><td>Password</td><td><%= link_to "Reset Password", new_password_reset_path %></td></tr>
				<tr><td>Anonymous Mode</td><td><%= link_to "Change", "/settings/#{@user.id}", :method => :put, id: 'anon_mode' %></td></tr>
				<tr><td></td><td></td></tr>
				<tr style="background-color: grey;">
			         <td></td>
			         <td></td>
			    </tr>
			</tbody>

		</table>

	<br/>
	<br/>
		<%= link_to "Submit Payment For Items", "/payment/index", id: 'submit_payment', class: "submit_but btn btn-success" %>
	<br/>
	<br/>
	<br/>
	*When you bid, your name will be displayed on the item's detail page. Anonymous mode will conceal your identity.
	</div>
	<hr>
	<% if @user.admin %>
		<h2>Approved artwork and highest bid:</h2>
		<% if @artworks.size > 0 %>
			<div style="text-align: center">
				<table class="table table-condensed table-nonfluid center-table">
					<tr>
						<th>Art ID</th>
						<th>Name</th>
						<th>Highest Bidder</th>
						<th>Bid Amount</th>
					</tr>
					<% @artworks.each do |art| %>
						<tr>
							<td><%=art.id%></td>
							<td><%=art.name%></td>
							<% if art.leadinguser == nil %>
								<td>N/A</td>
							<% else %>
								<td><%=User.find(art.leadinguser).name%></td>
							<% end %>
							<td><%= '$%.2f' % art.max_bid %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% else %>
			No artwork has been approved.
		<% end %>

	<% end %>

<% else %>
	You must be logged in to view this page.

<% end %>
