<!DOCTYPE html>
<html>
 	<head>
    	<title>Health4All Auction Site</title>
    	<%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    	<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
    	<%= csrf_meta_tags %>
    	<!--[if lt IE 9]>
      		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      		</script>
    	<![endif]-->
  	</head>
  	<body>

		
	<% if @active %>
		  <div>
		    <h1>Hello, <%= @user.name %>.</h1>
		  </div>

		  <div>
		  	<br/>
		  	<h1 id="countdown">03:34:58</h1>
		  </div>

		  <% if @style == "line" %>
			  <div class="table-responsive line-view">
	  			<table class="table table-vcenter">
	    			
			      	<thead>  
			      		<th>
				      			<a href="/bidview?view_style=line"><button type="button" class="btn btn-default">
								  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
								</button></a>
								<span>                    </span>
								<a href="/bidview?view_style=block"><button type="button" class="btn btn-default" aria-label="Left Align">
								  <span class="glyphicon glyphicon-th-large " aria-hidden="true"></span>
								</button></a>
							
						</th>
			      		<th><div id="right-align">Sort by: <div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Dropdown
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#">Lowest Price</a></li>
							    <li><a href="#">Highest Price</a></li>
							    <li><a href="#">Most Recently Bid</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="#">Default Sort</a></li>
							  </ul>
							</div>
						</div>
						</th>
			      	</thead>
				    <tbody>  

				     	 <% @artworks.each do |artwork| %> 
				          <tr>
				            <td><img src="<%= artwork.attachment_url %>" id="displayed" /></td>
				            <td>
				            	<div class="btn-toolbar bidview-homepage-button" role="group" aria-label="...">
				                <%= link_to "More Details", "#", id: 'upload_button1', class: "btn btn-info padded_button" %>
				                <%= link_to "Add to Favorites", "#", id: 'upload_button2', class: "btn btn-success padded_button" %>
				                <%= link_to "Watch Item", "#", id: 'upload_button3', class: "btn btn-success padded_button" %></td>
				            </div>
				          </tr>
				         
				      	<% end %>

				   </tbody>
	  			</table>

	  			<div class="sort_buttons">
	  				<br/>
	  				<br/>
	  				<p style="font-famiy: 'Courier New', 'Times New Roman'; text-align: center;">Interested in directly helping Health4All?</p>
	  				<%= link_to "Submit your own Artwork", url_for(:controller => :artworks, :action => :new), id: 'upload_button1', class: "btn btn-primary" %><span> </span>
				    <%= link_to "Donate to Health4All", "#", id: 'donate_button', class: "btn btn-primary" %>
	  			</div>
			  </div>
			  <br/> <br/> <br/>
			<% else %>
				<div class="table-responsive block-view">
	  			<table class="table">
	    			
			      	<thead>  
			      		<th>
			      			<div class="sort_buttons"><div class="sort_buttons">
				      			<a href="/bidview?view_style=line"><button type="button" class="btn btn-default">
								  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
								</button></a>
								<span>                    </span>
								<a href="/bidview?view_style=block"><button type="button" class="btn btn-default" aria-label="Left Align">
								  <span class="glyphicon glyphicon-th-large " aria-hidden="true"></span>
								</button></a></div>
							<div style="text-align: center;">Sort by: </div><div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Dropdown
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#">Lowest Price</a></li>
							    <li><a href="#">Highest Price</a></li>
							    <li><a href="#">Most Recently Bid</a></li>
							    <li role="separator" class="divider"></li>
							    <li><a href="#">Default Sort</a></li>
							  </ul>
							</div>

							</div>
						</th>
			      	</thead>
				    <tbody>  

				     	 <% @artworks.each do |artwork| %> 
				         <tr>
				            <td><img src="<%= artwork.attachment_url %>" id="displayed"/><br/>
				            	<div class="sort_buttons">
				            <div class="btn-toolbar" role="group" aria-label="...">
							<%= link_to "More Details", "#", id: 'upload_button1', class: "btn btn-info padded_button_block" %>
							<span> </span>
				            <%= link_to "Add to Favorites", "#", id: 'upload_button2', class: "btn btn-success padded_button_block" %>
				            <span></span>
				            <%= link_to "Watch Item", "#", id: 'upload_button3', class: "btn btn-success padded_button_block" %></div></div></td>
				         </tr>
				         
				      <% end %>
				   </tbody>
	  			</table>
	  			<div class="sort_buttons">
	  				<br/>
	  				<br/>
	  				<p style="font-famiy: 'Courier New', 'Times New Roman'; text-align: center;">Interested in directly helping Health4All?</p>
	  				<%= link_to "Submit your own Artwork", url_for(:controller => :artworks, :action => :new), id: 'upload_button1', class: "btn btn-primary" %><span> </span>
				    <%= link_to "Donate to Health4All", "#", id: 'donate_button', class: "btn btn-primary" %>
	  			</div>
			  </div>
			<% end %>

			  <br/> <br/> <br/>
	<% else %>
		You must login to view this page.
	<% end %>

  	</body>

 </html>
