<!DOCTYPE html>
<html>
 	<head>
    	<title>Health4All Auction Site</title>
    	<%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    	<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
    	<%= csrf_meta_tags %>
    	<!--[if lt IE 9]>
      		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      		</script>
    	<![endif]-->
  	</head>
  	<body>
  		<h1><%= @artwork.name%></h1>
  		<div>
		  	<br/>
		  	<h1 id="countdown">03:34:58</h1>
		  </div>

	<table class="table table-vcenter">
	
	    <tbody>  

	         	<tr>
		      		<td rowspan ="4"><img src="<%= @artwork.attachment_url %>" id="displayed" /></td>
		    		<td colspan="2">
			 		<div class="btn-toolbar bidview-homepage-button" role="group" aria-label="...">
			    		<%= link_to "+ $5", "#", id: 'denomination5', class: "btn btn-success padded_button" %>
						<%= link_to "+ $10", "#", id: 'denomination10', class: "btn btn-success padded_button" %>
						<%= link_to "+ $20", "#", id: 'denomination20', class: "btn btn-success padded_button" %>
						<%= link_to "+ $50", "#", id: 'denomination50', class: "btn btn-success padded_button" %>
					</div>
					</td>
				</tr>
				<tr>
					<td>
				    		<label for='current_bid'>Current Bid</label>
							<label id='current_bid' type='text'>$55.45</lable>
					</td>
					<td class='bid-input'>
						<label for='bid_amount'>Your bid</label>
						<input id='bid_amount' type='text' class='bid-amount'></input>
						<input name='commit' type='submit' value='Create Bid' class='btn btn-info padded_button bid-btn'/>
					</td>
				</tr>
				<tr>
					<td style='text-align:center;'>OR</td>
				</tr>
				<tr>
					<td>
				    	<label for='buy_out_price'>Buy it now price</label>
						<label id='buy_out_price' type='text'>$70.12</lable>

					</td>
					<td>
						<%= link_to "Buy It Now", "#", id: 'buy_now_btn', class: 'btn btn-info padded_button bid-btn' %>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr class ='btn-toolbar' >
								<td><%= image_tag('#', size: "60x50", alt: "image", class: "btn padded_button") %></td>
								<td><%= image_tag('#', size: "60x50", alt: "image", class: "btn padded_button") %></td>
								<td><%= image_tag('#', size: "60x50", alt: "image", class: "btn padded_button") %></td>
							</tr>
						</table>
					</td>
				</tr>
			


		</tbody>
	</table>
	  
	<div>
		<label for='details'>Details</label>
		<%= text_area(:artwork, :description, size: "10x5", disabled: 'disabled', id: 'details')%>
	</div>
	<div class="sort_buttons">
		<br/>
		<br/>
		<%= link_to "Back To Home page", "#", id: 'home_btn', class: "btn btn-primary" %>
	</div>
		
	<% if @active %>
		 
	<% else %>
	<% end %>

  	</body>

 </html>
